<header class="header">
    <div class="header__logo">
        <a href="#">ToDoQ</a>
    </div>
    <nav class="header__nav">
        <ul class="header__nav__list">
            <li class="header__nav__list--item">
                <a href="#">About</a>
            </li>
            <li class="header__nav__list--item">
                <a href="#">Help</a>
            </li>
            <li class="header__nav__list--item">
                <a href="#">Contacts</a>
            </li>
        </ul>
    </nav>
</header>