.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 40px;
    font-size: 14px;
    &__copyright {
        margin: 0;
    }
    z-index: 1;
}

@media (max-width: 420px) {
    .footer {
        padding: 40px 24px;
    }
}