.modal-container {
    padding-top: 8px;
    &__title {
        font-weight: 600;
        font-size: 12px;
        margin: 0;
    }
    &__text {
        margin: 0;
    }
    &__item {
        padding: 8px 12px 10px 12px;
        margin-bottom: 16px;
        border-radius: 4px;
        &:last-child {
            margin: 0;
            margin-bottom: 8px;
        }
    }
}