<div class="container">
    <div class="card">
        <h4 class="card__header">Welcome</h4>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card__body">
            <mat-form-field class="card__body--field">
                <mat-label for="username">Username</mat-label>
                <input matInput type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                <mat-error *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="card__body--field">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <mat-error *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="error" style="font-size: 12px;">{{error}}</mat-error>
            <button mat-flat-button [disabled]="loading" class="card__body--btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
        </form>
    </div>
</div>
