html, body { height: 100%; width: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

button {
    font: inherit;
    color: inherit;
    background: inherit;
    border: none;
    cursor: pointer;
    transition: .1s ease-in-out;
}

$black: #222;
$addBlack: #ccc;
$addWhite: #eee;
$white: #fff;

.body {
    color: $black;
    background: $addWhite;
}

.todo-list__item {
    color: $black;
    background: $white;
}

.footer,
.input-container__btn,
.todo-list__title-container {
    color: $white;
    background: $black;
}

.todo-list__title {
    color: $white;
}

.input-container__btn:hover {
    color: $black;
    background: $addBlack;
}

.done-btn:hover {
    .todo-list__title {
        color: $black;
    }
    background: $addBlack;
}