html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

button {
    font: inherit;
    color: inherit;
    background: inherit;
    border: none;
    cursor: pointer;
    transition: .1s ease-in-out;
}

$black: #1d1d1d;
$addBlack: #e4e4e4;
$addWhite: #f2f2f2;
$white: #fff;

.body {
    color: $black;
    background: $addWhite;
}

.todo-list__item {
    color: $black;
    background: $white;
}

.footer,
.input-container__btn,
.todo-list__title-container,
.modal-btn {
    color: $white;
    background: $black;
}

.todo-list__title {
    color: $white;
}

.input-container__btn:hover {
    color: $black;
    background: $addBlack;
}

.done-btn:hover {
    .todo-list__title {
        color: $black;
    }

    background: $addBlack;
}

.modal-container__item {
    color: $black;
    background: $addWhite;
}

.card {
    border: 1px solid $black;
}

.card__body--btn {
    color: $white;
    background: $black;

    &:hover {
        color: $black;
        background: $white;
    }
}

.body.active {
    color: $black;
    background: $addBlack;

    .todo-list__item {
        color: $white;
        background: $black;
    }

    .footer,
    .modal-btn {
        color: $white;
        background: $black;
    }

    .todo-list__title-container {
        background: $white;
    }

    .todo-list__title {
        color: $black;
    }

    .input-container__btn {
        color: $black;
        background: $white;
    }

    .input-container__btn:hover {
        color: $black;
        background: $addWhite;
    }

    .done-btn:hover {
        .todo-list__title {
            color: $black;
        }

        background: $addBlack;
    }

    .modal-container__item {
        color: $black;
        background: $addBlack;
    }

    .table {
        background: $black;

        td,
        th {
            color: $white;
        }

    }

    mat-paginator {
        color: $white;
        background: $black;
    }
}