<div class="confirm-modal-container">
    <h2 mat-dialog-title>
        {{data.title}}
    </h2>
    <mat-dialog-content class="mat-typography">
        <p>
            {{data.text}}
        </p>
    </mat-dialog-content>
    <mat-dialog-actions *ngIf="data.title !== 'No tasks' else noTasks">
        <button mat-button color="primary" [mat-dialog-close]="false" (click)="reject()">
            Nah
        </button>
        <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="confirm()">
            Yeah
        </button>
    </mat-dialog-actions>
    <ng-template #noTasks>
        <mat-dialog-actions>
            <button mat-button color="primary" mat-dialog-close cdkFocusInitial>
                Okay
            </button>
        </mat-dialog-actions>
    </ng-template>
</div>